# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# Apple files
.DS_Store

# PyCharm files
.idea/

# folders
plots/
IMU_Streams/
sidewalk-vs-street/IMU_Streams
unsafe-parking-detection/awr2243_dca1000evm/PostProcessData
unsafe-parking-detection/awr2243_dca1000evm/OriginalData/bicyclerack
unsafe-parking-detection/awr2243_dca1000evm/OriginalData/bush
unsafe-parking-detection/awr2243_dca1000evm/OriginalData/firehydrant
unsafe-parking-detection/awr2243_dca1000evm/OriginalData/human
unsafe-parking-detection/awr2243_dca1000evm/OriginalData/lamppost
unsafe-parking-detection/awr2243_dca1000evm/OriginalData/middle_of_sidewalk
unsafe-parking-detection/awr2243_dca1000evm/OriginalData/tree
unsafe-parking-detection/awr2243_dca1000evm/OriginalData/wall
unsafe-parking-detection/awr2243_dca1000evm/OriginalData/Radar_Data_Photos
dataset_notes.xlsx
dcaMANUAL.pdf
demo viz cofig setup.docx
mmwave_parse_script.py
mmwave_sensor_raw_data_capture_using_dca1000_v02.pdf
parsing script iwr1443 2.0.py
parsing script iwr1443.py
raw_data_capture_manual.pdf
scratch.py
xwr68xx_processed_stream_2021_10_20.dat
xwr68xx_profile_2021_10_20.cfg
.vscode/launch.json
Features/sidewalk1FastDNoWeight.csv
Features/sidewalk1FastDWeight.csv
Features/sidewalk1MedDNoweight.csv
Features/sidewalk1MedDWeight.csv
Features/sidewalk1SlowDNoWeight.csv
Features/sidewalk1SlowDWeight.csv
Features/sidewalkbrickB1.csv
Features/sidewalkbrickB2.csv
Features/sidewalkFastBNoWeight1.csv
Features/sidewalkFastBNoWeight2.csv
Features/sidewalkFastBWeight1.csv
Features/sidewalkMedBNoWeight1.csv
Features/sidewalkMedBWeight1.csv
Features/sidewalkRashmil.csv
Features/sidewalkRushal.csv
Features/sidewalkSlowB1weighttest.csv
Features/sidewalkSlowBNoWeight1.csv
Features/sidewalkTao1.csv
Features/st1FastDNoWeight1.csv
Features/st1FastDWeight1.csv
Features/st1MedDNoWeight1.csv
Features/st1MedDWeight1.csv
Features/st1SlowDNoweight1.csv
Features/st1SlowDWeight1.csv
Features/st2BMed1.csv
Features/st2BSlow1.csv
Features/st2BSlow2.csv
Features/st2FastB1.csv
Features/st2FastDeep.csv
Features/st2MedDeep.csv
Features/st2Rashmil.csv
Features/st2SlowDeep.csv
Features/st2Tao1.csv
Features/st3Rushal2.csv
Features/street1BNoWeight1.csv
Features/street1FastBNoWeight1.csv
Features/street1FastBWeight1.csv
Features/street1MedBNoWeight1.csv
Features/street1MedBNoWeight2.csv
Features/street1MedBweight1.csv
Features/street1SlowBNoWeight1.csv
Features/street1SlowBWeight1.csv
IWR6843-Read-Data-Python-MMWAVE-SDK-main/mmw_parse_script.py
IWR6843-Read-Data-Python-MMWAVE-SDK-main/parser_mmw_demo.py
IWR6843-Read-Data-Python-MMWAVE-SDK-main/readData_IWR6843ISK_DEPRECIATED.py
IWR6843-Read-Data-Python-MMWAVE-SDK-main/README.md
IWR6843-Read-Data-Python-MMWAVE-SDK-main/xwr68xxconfig.cfg
IWR6843-Read-Data-Python-MMWAVE-SDK-main/.github/ISSUE_TEMPLATE/bug_report.md
IWR6843-Read-Data-Python-MMWAVE-SDK-main/.github/ISSUE_TEMPLATE/feature_request.md
IWR6843-Read-Data-Python-MMWAVE-SDK-main/parser_scripts/lvds_example_script.py
IWR6843-Read-Data-Python-MMWAVE-SDK-main/parser_scripts/mmw_demo_example_script.py
IWR6843-Read-Data-Python-MMWAVE-SDK-main/parser_scripts/mmw_demo_output.csv
IWR6843-Read-Data-Python-MMWAVE-SDK-main/parser_scripts/parser_lvds_demo_captured_file.py
IWR6843-Read-Data-Python-MMWAVE-SDK-main/parser_scripts/parser_mmw_demo.py
sidewalk-vs-street/~$Ablation-study-diary.xlsx
sidewalk-vs-street/Ablation-study-diary.xlsx
sidewalk-vs-street/imu_classifier_results/street_classifier_2021_12_03_12_03_00.txt
sidewalk-vs-street/imu_classifier_results/street_classifier_2021_12_03_12_04_52.txt
sidewalk-vs-street/imu_classifier_results/street_classifier_2021_12_03_12_30_57.txt
